<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.oct4pie.archifyhelper</key>
		<true/>
	</dict>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "com.oct4pie.archify" and certificate root = H"774f76d43737aa8e4665811ff668e961a39fc7a0"</string>
	</array>
</dict>
</plist>
