<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.oct4pie.archifyhelper</key>
		<string>identifier "com.oct4pie.archifyhelper" and anchor apple generic and certificate leaf[subject.CN] = "Apple Distribution: Mehdi Hajmollaahmad Naraghi (9827C97648)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
</dict>
</plist>
