<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Oct4Pie/archify/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>mm58k3AHdP56QTG8/oQPssg0IDg40BsTyRuEZ5ICfME=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.oct4pie.archifyhelper</key>
		<string>$(ARCHIFY_HELPER_CODE_REQUIREMENT)</string>
	</dict>
</dict>
</plist>
